<!DOCTYPE html>
<html>

<head>
  <title>Moblie App Development Company |  Business  Apps Developer - Praves Technologies</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52851847-1', 'auto');
  ga('send', 'pageview');
  </script>
<!--End of Google Analytics code-->

<link rel="icon" type="image/ico" href="/assets/favicon.ico">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Our professional mobile apps developers build a custom mobile application for  your business. Contact Us  today for free quote and discount.">
    <meta name="author" content="Praves technologies">
    <meta name="keyword" content="android app development, responsive website design, website development, ios application development, webdesigning, graphics designing, mobile marketing solutions, custom software development">
    <link href="/assets/bootstrap.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/icomoon.css">
    <link href="/assets/animate-custom.css" rel="stylesheet">
    <link href="/assets/contact.css" rel="stylesheet">    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'> 
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=aller">   
    <script src="/assets/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/modernizr.custom.js"></script>
</head>
<body>

<%= yield %>

		<div id="footerwrap">
			<div class="container">
				<h4> <a href="/">Praves Technologies Ltd.</a> - Copyright &copy; 2014</h4>
			</div>
		</div>

</body>
</html>
